<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <iframe src="/chat" id="chat">
        </iframe>
        <form action="/send" method="POST">
            <label for="username">nickname</label>
            <input type="text" name="username" id="username" value="<%= username %>"><br>
            <label for="username">text</label>
            <input type="text" name="body" id="body" autocomplete="off" autofocus>
            <button type="submit">submit</button>
        </form>
        <div>
            &nbsp;
        </div>
    </div>
</body>
</html>